name: Build and Deploy

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      IMAGE_NAME: fastapi-app
      CONTAINER_NAME: fastapi-app

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Build Docker image
        run: |
          docker build -t fastapi-app .
        timeout-minutes: 30

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Run Docker image
        run: | 
          docker run -d -p 8000:8000 --name $CONTAINER_NAME $IMAGE_NAME
          docker ps
          docker logs $CONTAINER_NAME
          docker stop $CONTAINER_NAME
          docker rm $CONTAINER_NAME
          docker push $IMAGE_NAME
        timeout-minutes: 30
