name: Build and Deploy

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Build Docker image
        run: docker build -t fastapi-app:latest .

      - name: Run Docker image
        run: docker run -p 8000:8000 fastapi-app 

      - name: Push Docker image
        run: docker run -d -p 5000:5000 --restart always --name registry registry:2 && docker tag fastapi-app localhost:5000/fastapi-app:latest && docker push localhost:5000/fastapi-app:latest
