name: Build and Deploy

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Build Docker image
        run: |
          docker build -t fastapi-app:latest .
          docker save fastapi-app:latest -o fastapi-app.tar
        timeout-minutes: 30

      - name: Upload Docker Image
        uses: actions/upload-artifact@v3
        with:
          name: docker-image
          path: fastapi-app.tar

      - name: Run Docker image
        run: | 
          docker run -d -p 8000:8000 fastapi-app
          docker ps
          docker logs fastapi-app
        timeout-minutes: 30
