name: Scan

on:
  workflow_run:
    workflows: ["Build and Deploy"]
    types: [completed]

jobs:
  scan:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - name: Log in to GitHub Container Registry (GHCR)
        uses: docker/login-action@v2
        with:
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_TOKEN }}
          registry: ghcr.io

      - name: Run Trivy scan on Docker image (direct scan without pull)
        uses: aquasecurity/trivy-action@0.20.0
        with:
          image-ref: ghcr.io/${{ github.repository }}/fastapi-app:latest
          format: 'table'  # Optional: Output format (can be 'json', 'table', or 'sarif')
          severity: 'HIGH, CRITICAL' # Optional: Filter based on severity (LOW, MEDIUM, HIGH, CRITICAL)

  failure-message:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'failure' }}
    steps:
      - name: Previous workflow failed
        run: |
          echo "Previous workflow failed" 
          exit 1
