name: Scan

on:
  workflow_run:
    workflows: ["Build and Deploy"]
    types: [completed]
  workflow_dispatch:

jobs:
  scan:
    runs-on: ubuntu-latest
    if: github.event_name == 'workflow_dispatch' || ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - name: Log in to GitHub Container Registry (GHCR)
        uses: docker/login-action@v2
        with:
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_TOKEN }}
          registry: ghcr.io

      - name: Get lowercase URI
        id: get_lowercase_uri
        run: |
          URI="ghcr.io/${{ github.repository }}" # Get the repository value
          LOWERCASE_URI=$(echo "$URI" | awk '{print tolower($0)}') # Convert to lowercase
          echo "lowercase_uri=$LOWERCASE_URI" >> $GITHUB_OUTPUT

      - name: Run Trivy scan on Docker image (direct scan without pull)
        uses: aquasecurity/trivy-action@0.20.0
        with:
          image-ref: ${{ steps.get_lowercase_uri.outputs.lowercase_uri }}/fastapi-app:latest
          format: table  # Optional: Output format (can be 'json', 'table', or 'sarif')
          severity: HIGH,CRITICAL # Optional: Filter based on severity (LOW, MEDIUM, HIGH, CRITICAL)
          vuln-type: os,library
          scanners: vuln
          timeout: 300s
        env:
          TRIVY_USERNAME: ${{ github.actor }}   # needed for private GHCR images
          TRIVY_PASSWORD: ${{ secrets.GHCR_TOKEN }}
          TRIVY_RUN_AS_PLUGIN: "true"           # forces remote scan mode

  failure-message:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'failure' }}
    steps:
      - name: Previous workflow failed
        run: |
          echo "Previous workflow failed" 
          exit 1
